header {
  height: 120px;
  background-color: chocolate;
  color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}
.parent {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.card {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  background-color: sandybrown;
}
